<div class="container">
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= link_to pet_path(pet), class: "text-body text-decoration-none" do %>
            <%= image_tag(pet.photos[0], class: "card-img-top") if pet.photos.present? %>
            <div class="card-body">
              <h5 class="card-title"><%= pet.name %></h5>
              <p class="card-text"><%= truncate(pet.description, length: 50) %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>