<!-- app/views/shared/_carousel.html.erb -->
<% if images.present? %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% images.each_with_index do |image, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%= image_tag(image, class: 'd-block w-100', style: 'object-fit:cover; aspect-ratio: 1/1') %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
  <!-- Default image or placeholder if no images are available -->
  <%= image_tag('default_image.jpg', class: 'd-block w-100') %>
<% end %>
