<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Buscar
    </button>
  </div>
</form>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path 'fosterpet.png'%>">
  <div class="container">
    <h1><strong> Hazlos parte de tu familia!</strong></h1>
    <p>Regala grandes momentos</p>
    <a class="btn btn-flat" href="#">Conócenos</a>
  </div>
</div>
<h4 class="text-warning mt-3"></h4>
<div class="row">
<hr>
<%# <% @services.each do |service| %>
  <div class="col-4">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
    <%#   <%= service.name %>
    </div>
  </div>
<%# <% end %> 
</div>
