.card-info {
  height: 60px;
  background-color: #f8f7f6;
  color:#FF7D13;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

h4 {
  font-weight: bold;
  font-size: 30px;
}
