.card-info-user li{
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
  color: #FF7D13;
}

.card-info-user p{
  font-size: 15px;
  line-height: 1;
  opacity: .7;
  margin-top: 1px;
}

.perritos img {
width: 100%;
}
